DATABASE_URL=postgres://user:password@localhost:5432/postgres
BETTER_AUTH_SECRET=uQXxh1Qq6iepzWc9Raga5IsuLbrWc6uo
PUBLIC_AUTH_URL=http://localhost:3000
PUBLIC_SERVER_URL=http://localhost:3000
DOCS_PORT=4000
