# dependencies
node_modules
.pnpm-store

# router
.tanstack
**/routeTree.gen.ts

# output
out
dist
**/dist
*.tgz

# logs & coverage
coverage
*.lcov
logs
*.log

# environment
.env
.env.*
!.env.example

# cache & IDE
.cache
*.tsbuildinfo
.idea
.vscode
.DS_Store
